.responseCard {
  background-color: white;
  width: 70%;
  display: inline-block;
  margin-top: 20px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
    0 1px 3px 0 rgba(63, 63, 68, 0.15);
  outline: 0.1 rem solid transparent;
  position: relative;
  text-align: center;
}
