@import "../../theme";

header {
  margin-top: 32px;
  text-align: center;

  h1 {
    color: $primaryColor;
  }

  span {
    color: $primaryColorDark;
    display: block;
  }

  @media (max-width: $screen-size-lg) {
    h1 {
      font-size: 30px;
      transition: 2s;
    }
  }
}
