@import "../../theme";

header {
  padding: 0.1% 5%;
  text-align: left;
  background-color: $primaryColor;
  display: flex;
  align-items: center;

  h1 {
    color: white;
  }

  img {
    height: 40px;
    padding: 15px;
  }

  @media (max-width: $screen-size-lg) {
    h1 {
      font-size: 28px;
      transition: 1s;
    }
  }
}
