@import "../../theme";

.card {
  background-color: white;
  width: 60%;
  margin: 30px auto;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
    0 1px 3px 0 rgba(63, 63, 68, 0.15);
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $screen-size-lg) {
    width: 70%;
  }

  @media (max-width: $screen-size-md) {
    width: 80%;
  }

  @media (max-width: $screen-size-sm) {
    width: 90%;
  }
}

.banner {
  background-color: $primaryColorLight;
  height: 70%;
  width: 100%;
  transition: 2s;
  box-shadow: 0 4px 5px -5px $primaryColor;

  h1 {
    color: $primaryColor;
    text-align: center;
  }
}

label {
  display: block;
  // margin: 10px;
  // margin-left: 5%;
  color: $primaryColorDark;
  font-size: 16px;
}

textarea {
  margin-top: 40px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid $primaryColor;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;

  &:focus {
    outline: 1.5px solid $primaryColor;
  }
}

button {
  background-color: $primaryColor;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 5px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.3;
  &:hover:enabled {
    transition: 0.5s;
    box-shadow: 0 5px 25px 0 $primaryColorDark;
  }
  &:disabled {
    opacity: 0.7;
    background-color: #000;
    color: #fff;
    cursor: not-allowed;
  }
}

select {
  color: #000;
  padding: 0.5em;
  margin: 5px;
  height: 35px;
  padding-right: 2.5em;
  border-radius: 3px;
}

.filters {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.searchEngine {
  display: flex;
  padding-bottom: 1rem;
  align-items: center;

  @media (max-width: $screen-size-sm) {
    flex-direction: column;
  }
}
