// Colors
$primaryColorLight: #effcfa;
$primaryColor: #008060;
$primaryColorDark: #004c3f;
$backgroundColor: #f6f6f7;
$dangerColor: #fed3d1;

// Breakpoints
$screen-size-sm: 576px;
$screen-size-md: 768px;
$screen-size-lg: 992px;
$screen-size-xl: 1200px;
$screen-size-xxl: 1400px;
